body {
    background: gray;
    margin: 0;
}

header {
    text-align: center;
    background: white; 
}

header h1{
    margin: 0;
}

div.post {
    background: white;
    margin-top: 10px;
}

div.post h2, div.post p {
    padding: 5px;
}

div.post img {
    width: 100%;
}

/*first-child selecciona el primer elemento de un grupo de hermanos*/
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

/*last-child selecciona el ultimo elemento de un grupo de hermanos*/
div.post .post-header div:last-child {
    display: inline-block;
    width: 19%;
    text-align: right;
    color: gray;
}

div.container {
    width: 600px;
    margin: auto;
}